/*header*/

header {
	display: block;
	position: fixed;
}



.stuck_container {
	font-family: 'BenchNine', 'sans-serif';
	background-color: #ffffff;
	
	padding: 27px 6px 23px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	
	padding-bottom: 0px; 
	box-shadow: rgba(128, 128, 128, 0.8) 0px 0px 1em; 

	top: 0px;
	border-radius: 10px;
	margin-bottom: 2%;
}

.logo-principal {
    width: 20%;
	margin-left: 5%;
	margin-bottom: 2%;
}


/*MENU*/
.menu_block {
    z-index: 1000;
    position: relative;
    float: right;
    margin-top: 0.49%;
	margin-right: 7%;
	display: flex;

	
}

.menu-opcoes {
	/*background-color: red;*/
	margin-right: 4%;
    margin-left: -5%;

}

.menu-opcoes ul {
  float: right;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
    font-size: 25px;
    position: relative;
	
}
/*TERMINO MENU*/


/* max device width */
@media (max-width: 1100px) {
	.stuck_container {
	font-family: 'BenchNine', 'sans-serif';
	background-color: #ffffff;
	
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	
	padding-bottom: 0px; 
	box-shadow: rgba(128, 128, 128, 0.8) 0px 0px 1em; 

	top: 0px;
	border-radius: 10px;
	width: 123.8%;
	}
	
.logo-principal {
    width: 50%;
	margin-left: 5%;
}

/*MENU*/
.menu_block {
    z-index: 1000;
    position: relative;
margin-right: 13%;
    margin-top: 0.49%;

}

.menu-opcoes {
	/*background-color: red;*/
	margin-right: 4%;
margin-left: 5%;
}

.menu-opcoes ul {
  margin-left: -15%;
}




.menu-opcoes ul {
  /*float: right;*/
}

.menu-opcoes ul li {
  display: inline;
    margin-left: 70px;
    font-size: 60px;
}
/*TERMINO MENU*/
	
	
	
	
}















